.done {
    background-color: #747474ea; /* Ubah warna latar belakang sesuai preferensi Anda */
}

.done .task-text {
    text-decoration: line-through;
    color: #ffffff;
    font-style: bold;
}
/* Stil umum */
.task-text {
    font-size: 18px;
}

/* Responsif untuk ukuran layar kecil */
@media (max-width: 576px) {
    .task-text {
        font-size: 16px;
    }
    /* Tambahkan pengaturan tampilan responsif lainnya di sini */
}

/* Responsif untuk ukuran layar menengah */
@media (min-width: 768px) {
    .task-text {
        font-size: 20px;
    }
    /* Tambahkan pengaturan tampilan responsif lainnya di sini */
}

/* Responsif untuk ukuran layar besar */
@media (min-width: 992px) {
    .task-text {
        font-size: 22px;
    }
    /* Tambahkan pengaturan tampilan responsif lainnya di sini */
}

.task-timestamp {
    color: #aaa;
    font-size: 12px;
    margin-top: 2px; /* Jarak antara teks tugas dan timestamp */
}
.task-completedAt {
    font-size: 12px;
    color: #666;
}


.task-buttons {
    display: flex;
    align-items: center;
}

.task-buttons button {
    margin-right: 5px; /* Jarak antara tombol-tombol */
}

.header {
    text-align: center;
    margin-top: 2em;
}

.datetime {
    font-size: 14px;
    color: #666;
}



